doctype html
html
  head
    title= title
    link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js")
    script.
      $(function(){
          alert('hallelujah');

      })


    body
      .container
        h1 DAMN IT -- SHIT TEAMS ULTA
        h3 DOTA2
          ul
            li ehome
            li cdec
            li navi
            li empire
            li Ts
            l
        h3 CSGO
          ul
            li nip
            li vp
            li navi
